:host {
  display: flex;
  flex: 1;

  .welcome-heading-wrapper {
    padding-top: 16% !important;
    background-color: var(--theme-color-tint);
    flex: 0.8;
    text-wrap: balance;

    .heading-items-wrapper {
      padding: 24px;
      background-color: rgba(black, 0.2);
      border-radius: 20px 6px 20px 6px;
    }

    p {
      max-width: 600px;
    }
  }

  .login-register-wrapper {
    background-color: var(--secondary-bg);
    width: 100%;
    flex: 1;
  }
}

@media(max-width: 768px) {
  :host {
    flex-direction: column;

    .welcome-heading-wrapper {
      padding: 12px 8px !important;
      flex: initial;
      background-color: var(--secondary-bg);

      .heading-items-wrapper {
        align-items: center;
        padding: 0;
        background-color: initial;
        border-radius: 0;
      }
    }

    .login-register-wrapper {
      padding: 12px 20px !important;
      overflow-y: auto;
    }
  }
}
