<div class="welcome-heading-wrapper p-4 md:p-8 flex flex-column">
  <div class="heading-items-wrapper flex flex-column gap-3">
    <img width="50px"
         height="50px"
         src="favicon.ico"
         alt="Logo_Snap_Talk"/>
    <h1 class="txt-white m-0 text-2xl md:text-4xl font-bold">
      {{ headingInfo.Title }}
    </h1>
    @if (!layoutService.isMobile) {
      <p class="txt-white text-md">
        {{ headingInfo.Description }}
      </p>
    }
  </div>
</div>

<div
  class="login-register-wrapper flex flex-column justify-content-center align-items-center gap-3 p-5">
  <router-outlet/>
</div>
