.color-text-normal {
  color: var(--text-normal);
}

.color-text-heading {
  color: var(--text-heading);
}

.color-secondary {
  color: var(--secondary-bg);
}

.color-accent {
  color: var(--accent-bg);
}

.bg-color-text-normal {
  background-color: var(--text-normal);
}

.bg-color-text-heading {
  background-color: var(--text-heading);
}

.bg-color-secondary {
  background-color: var(--secondary-bg);
}

.bg-color-accent {
  background-color: var(--accent-bg);
}
