.navbar-icon {
  transition: 0.2s color;
  color: #878a91;
}

.txt-white {
  transition: 0.2s color;
  color: #ffffff;
}

.txt-color {
  transition: 0.2s color;
  color: var(--text-normal);
}

.txt-heading {
  transition: 0.2s color;
  color: var(--text-heading);
}