@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
}

.navbar-icon {
  transition: var(--animation-time) color;
  color: #878a91;
}

.txt-white {
  transition: var(--animation-time) color;
  color: #ffffff;
}

.txt-color {
  transition: var(--animation-time) color;
  color: var(--text-normal);
}

.txt-heading {
  transition: var(--animation-time) color;
  color: var(--text-heading);
}

.txt-input {
  transition: var(--animation-time) color;
  color: var(--form-input);
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;
  }
}

//  For Image Cropper Package
.ngx-ic-source-image {
  height: 100% !important;
}

.ngx-ic-overlay {
  outline: none !important;
}
//  -------------------------

.link-default {
  color: var(--theme-color);
  padding: 6px;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: var(--animation-time) box-shadow;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--theme-color);
  }
}
