@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"); /* Modern Browsers */
}
:root {
  --text-normal: #A0A8AE;
  --text-heading: #adb5bd;
  --main-bg: #2E2E2E;
  --secondary-bg: #262626;
  --accent-bg: #333333;
}

.navbar-icon {
  transition: 0.2s color;
  color: #878A91;
}

.txt-white {
  transition: 0.2s color;
  color: #FFFFFF;
}

.txt-color {
  transition: 0.2s color;
  color: #A0A8AE;
}

.txt-heading {
  transition: 0.2s color;
  color: #adb5bd;
}

html {
  font-size: 16px;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #A0A8AE;
  background: #2E2E2E;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--theme-color-tint);
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"); /* Modern Browsers */
}
:root {
  --text-normal: #A0A8AE;
  --text-heading: #adb5bd;
  --main-bg: #2E2E2E;
  --secondary-bg: #262626;
  --accent-bg: #333333;
}

.navbar-icon {
  transition: 0.2s color;
  color: #878A91;
}

.txt-white {
  transition: 0.2s color;
  color: #FFFFFF;
}

.txt-color {
  transition: 0.2s color;
  color: #A0A8AE;
}

.txt-heading {
  transition: 0.2s color;
  color: #adb5bd;
}

html {
  font-size: 16px;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #A0A8AE;
  background: #2E2E2E;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--theme-color-tint);
}

.p-inputswitch {
  width: 2.5rem;
  height: 20px;
}
.p-inputswitch .p-inputswitch-slider {
  background-color: #262626;
}
.p-inputswitch .p-inputswitch-slider::before {
  background-color: #2E2E2E;
  width: 0.9rem;
  height: 0.9rem;
  left: 0.17rem;
  margin-top: -0.45rem;
  border-radius: 50%;
  transition-duration: 0.2s;
  box-shadow: none;
}

.p-inputswitch-checked > .p-inputswitch-slider::before {
  left: -0.2rem;
}

.p-inputswitch-checked .p-inputswitch-slider::before {
  background-color: var(--theme-color);
}

.p-colorpicker-preview {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 999px;
  border: none;
}
.p-colorpicker-preview:hover, .p-colorpicker-preview:focus {
  border: none;
}

.content-wrapper {
  background-color: var(--theme-color-bg);
}

.menu-wrapper {
  background: #262626;
}

.navbar-wrapper {
  background-color: #2E2E2E;
}
.navbar-wrapper nav > i.active {
  color: var(--theme-color);
}

.accordion-wrapper .p-accordion-content {
  background-color: #333333;
}
.accordion-wrapper .p-accordion-header, .accordion-wrapper .p-accordion-header-link {
  background-color: #333333;
}
.accordion-wrapper .p-accordion-header:hover, .accordion-wrapper .p-accordion-header:active, .accordion-wrapper .p-accordion-header:focus, .accordion-wrapper .p-accordion-header:focus-visible, .accordion-wrapper .p-accordion-header-link:hover, .accordion-wrapper .p-accordion-header-link:active, .accordion-wrapper .p-accordion-header-link:focus, .accordion-wrapper .p-accordion-header-link:focus-visible {
  background-color: #333333;
}
.accordion-wrapper .p-accordion-header .p-accordion-toggle-icon-end, .accordion-wrapper .p-accordion-header-link .p-accordion-toggle-icon-end {
  color: #A0A8AE;
}

.user-pictures-wrapper .background-edit {
  background-color: #262626;
}
.user-pictures-wrapper .avatar-wrapper .profile-avatar-image {
  background-color: #333333;
  box-shadow: 0 0 0 4px #333333;
}
.user-pictures-wrapper .avatar-wrapper .avatar-camera {
  background-color: #333333;
}

.user-info-wrapper .action-icon {
  background-color: #262626;
}
.user-info-wrapper .action-icon.save-icon {
  background-color: var(--theme-color);
}
.user-info-wrapper .info-items .same-text-input {
  background-color: #333333;
}
.user-info-wrapper .info-items .same-text-input:focus {
  background-color: #333333;
}
.user-info-wrapper .info-items .same-text-input.ng-invalid.ng-touched {
  box-shadow: 0 1px 0 0 #D13434;
}

.appearance-items .appearance-item .colors-wrapper .active-theme-color, .appearance-items .appearance-item .color-picker-wrapper .active-theme-color {
  box-shadow: 0 0 0 4px #A0A8AE;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  zoom: 1;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*# sourceMappingURL=layout-dark.css.map */
