<style>
  * {
    box-sizing: border-box;
  }

  .wrapper{
    width: 50%;
    margin: 100px auto;

    .header {
      text-align: center;
    }
  }
</style>

<div class="wrapper">
  <h1 class="header">SnapTalk</h1>

  <div style="display: flex; flex-direction: column; gap: 10px;">
    <div style="display: flex; gap: 10px; justify-content: center">
      <input type="number"
             min="1"
             [(ngModel)]="SenderId"
             pInputText
             placeholder="Enter SenderId"
      >

      <input type="number"
             min="1"
             [(ngModel)]="ChatId"
             pInputText
             placeholder="Enter ChatId"
             (input)="getAllChatMessages()"
      >
    </div>
    <div style="display: flex; gap: 10px; justify-content: center">
      <input type="text"
             [(ngModel)]="Text"
             pInputText
             placeholder="Enter Message"
      >
      <button type="button"
              (click)="addMessageToChat()"
              pRipple
              pButton
              label="Send"
      ></button>
    </div>
  </div>

  @for (message of messages; track message) {
    <h5>{{ message.Text }}</h5>
  }
</div>
