<div class="chat-wrapper w-full flex gap-4 justify-content-between align-items-center"
     [routerLink]="['', { outlets: { content: ['chat', Chat.Id] } }]"
     routerLinkActive="active-chat"
>

  <div class="chat-image-wrapper">
    <app-image className="chat-image"
               skeletonShape="circle"
               skeletonSize="50px"
               [imageName]="Chat?.Image" />
  </div>

  <div class="w-full h-full flex flex-column gap-2">
    <div class="w-full h-full preview-info flex justify-content-between align-items-start">
          <span class="preview-name font-bold text-sm txt-color"
                [pTooltip]="Chat?.Name">
            {{ Chat?.Name }}
          </span>

          <span class="chat-date text-xs txt-color">
            {{ Chat?.LastMessageDate | date: 'MMM d, HH:mm' }}
          </span>
    </div>

    <div class="w-full h-full preview-info flex justify-content-between align-items-start">
          <span class="preview-message font-light text-xs txt-color">
            {{ Chat?.LastMessage }}
          </span>
    </div>
  </div>

</div>
