<div class="chat-wrapper w-full flex gap-4 justify-content-between align-items-center"
     [routerLink]="['', { outlets: { content: ['chat', ChatId] } }]"
     routerLinkActive="active-chat"
>

  <div class="chat-image-wrapper">
<!--            <app-image className="chat-image" [imageName]="ChatImageName"></app-image>-->
    <img class="chat-image" src="https://assets.kpmg.com/is/image/kpmg/aram-asatryan:cq5dam.web.424.424">
  </div>

  <div class="w-full h-full flex flex-column gap-2">
    <div class="w-full h-full preview-info flex justify-content-between align-items-start">
          <span class="preview-name font-bold text-sm txt-color">
            {{ ChatName }}
          </span>

      <span class="chat-date text-xs txt-color">
            {{ ChatLastMessageTime }}
          </span>
    </div>

    <div class="w-full h-full preview-info flex justify-content-between align-items-start">
          <span class="preview-message font-light text-xs txt-color">
            {{ ChatLastMessage }}
          </span>
    </div>
  </div>

</div>
