.chat-header-wrapper {
  height: 80px;
  padding: 0 25px;
  transition: var(--animation-time) background-color;
  background-color: var(--theme-color-tint);

  .header-left {
    .back-wrapper {
      .back-icon {
        padding: 6px;
        cursor: pointer;
        background: var(--secondary-bg);
      }
    }

    .user-info-wrapper {
      ::ng-deep .user-avatar {
        width: 50px;
        height: 50px;
      }
    }

  }
}

@media (max-width: 768px) {
  .chat-header-wrapper {
    height: 70px;
  }
}
