@import './fonts/_fonts';
@import '../variables/colors/_main_colors';

html {
  font-size: $fontSize;
}

body {
  font-family: $fontFamily;
  font-weight: 400;
  color: $text-normal;
  background: $main-bg;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--theme-color-tint);
}
