.chat-body-skeleton {
  width: 100%;
  height: calc(100dvh - 150px);
  padding: 30px 20px;
  gap: 24px;
  transition: var(--animation-time) background-color;
  background-color: var(--theme-color-bg);
  overflow: hidden;

  ::ng-deep .skeleton-message {
    border-radius: 10px;

    &-right {
      margin-left: auto;
    }
  }
}

@media (max-width: 768px) {
  .chat-body-skeleton {
    height: calc(100dvh - 60px - 70px);
    gap: 12px;
  }
}
