<div class="chat-body-skeleton flex flex-column">
  <p-skeleton width="150px" height="100px" styleClass="skeleton-message" />
  <p-skeleton width="150px" height="100px" styleClass="skeleton-message-right" />

  <p-skeleton width="150px" height="50px" styleClass="skeleton-message-right" />
  <p-skeleton width="160px" height="160px" styleClass="skeleton-message" />

  <p-skeleton width="120px" height="80px" styleClass="skeleton-message-right" />

  <p-skeleton width="150px" height="120px" styleClass="skeleton-message" />
  <p-skeleton width="150px" height="60px" styleClass="skeleton-message-right" />
</div>
