.dialog-with-footer {
  padding-bottom: 64px;
  overflow: hidden;
}

.p-dialog {
  .p-dialog-header {
    background: var(--secondary-bg);
    color: var(--text-heading);

    .p-dialog-header-icon {
      color: var(--text-heading);
      @include no-select;
    }
  }

  .p-dialog-content {
    background: var(--secondary-bg);
    border-radius: 0;
  }

  .form-content {
    padding-top: 10px;

    span.p-float-label > label {
      color: var(--form-input);
      background-color: var(--accent-bg);
      border-radius: 5px 5px 0 0;
    }
  }

  .p-dialog-footer {
    width: 100%;
    height: 64px;
    background: var(--secondary-bg);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 0 none;
    padding: 10px;

    .p-button {
      margin: 0 0.5rem 0 0;
      width: auto;
      background: var(--theme-color);
      color: #FFFFFF;
      transition: background-color var(--animation-time), width var(--animation-time), height var(--animation-time);

      &:hover {
        background: var(--theme-color-tint);
      }
    }
  }
}


@media (max-width: 500px) {
  .p-dialog {
    .p-dialog-footer {
      gap: 10px;
      justify-content: center;

      p-button, .p-button {
        width: 100%;
      }
    }
  }
}
