.p-inputwrapper, .p-inputtext {
    width: 100%;

    &.ng-invalid.ng-touched, &.custom-invalid.ng-touched {
        &, .p-password-input {
            border-color: var(--invalid);

            &:focus {
                box-shadow: inset 0 0 0 1px var(--invalid), inset 0 0 0 1px var(--invalid),
                inset 0 0 0 1px var(--invalid), inset 0 0 0 1px var(--invalid) !important;
            }
        }
    }
}

.form-content {
  .p-inputtext {
    color: var(--form-input);
    background-color: var(--accent-bg);
    border: none;
    box-shadow: none;
    font-size: 16px;

    &:hover {
      box-shadow: none;
    }

    &:focus, &:focus-visible {
      box-shadow: 0 0 0 2px var(--theme-color);
    }

    &.ng-invalid.ng-touched {
      box-shadow: 0 0 0 2px var(--invalid) !important;
    }
  }
}
