.p-inputwrapper, .p-inputtext {
    width: 100%;
}

.form-content {
  span.p-float-label > label {
    color: var(--form-input);
    background-color: var(--accent-bg);
    border-radius: 5px 5px 0 0;
  }

  .p-inputtext {
    color: var(--form-input);
    background-color: var(--accent-bg);
    border: none;
    box-shadow: none;
    font-size: 16px;

    &:hover {
      box-shadow: none;
    }

    &:focus, &:focus-visible {
      box-shadow: 0 0 0 2px var(--theme-color);
    }

    &.ng-invalid.ng-touched {
      box-shadow: 0 0 0 2px var(--invalid) !important;
    }
  }
}

@media (max-width: 768px) {
  .p-inputtext {
    padding: 0.8rem;
  }
}
