p-password {
  &.ng-invalid.ng-touched {
    .p-password-input {
      box-shadow: 0 0 0 2px var(--invalid) !important;
    }
  }

  .p-icon {
    color: var(--form-input);
    cursor: pointer;
  }
}
