<h3>Sign in to continue.</h3>
<form 
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="flex flex-column gap-4">
    <div class="flex flex-column gap-1">
        <label for="UserName">Username</label>
        <input 
            pInputText 
            aria-describedby="username-help"
            id="UserName"
            formControlName="UserName"/>
    </div>
    <div class="flex flex-column gap-1">
        <label for="Password">Password</label>
        <p-password 
            [toggleMask]="true"
            [feedback]="false"
            id="Password"
            formControlName="Password"/>
    </div>
    <button 
        pButton 
        pRipple
        label="Login"
        class="shadow">
    </button>
</form>