:host {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  .form-content {
    width: 72%;
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    padding-top: 12%;

    .form-content {
      width: 100%;
    }
  }
}
