:host {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0;
  padding-block: 20px;
  transition: var(--animation-time) background-color;
  background-color: var(--main-bg);

  nav {
    gap: 2px;

    .navbar-btn {
      width: 60px;
      height: 60px;
      padding: 2px;
      margin: 0;
      cursor: pointer;
      border-radius: 6px;
      background-color: transparent;
      transition: all var(--animation-time);

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px var(--theme-color);
      }

      .navbar-icon {
        &.active {
          color: var(--theme-color);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: row !important;
    padding: 0 0 0 30px;
  }

  nav {
    flex-direction: row !important;
    justify-content: flex-end;
  }
}
