<img src="favicon.ico" width="40px" height="40px" alt="logo">
<nav>
    @for (item of navItems; track item) {
        <i
            #rla="routerLinkActive"
            [routerLink]="['', { 
                outlets: layoutService.isMobile  
                    ? { primary: item.Link, content: null } 
                    : { primary: item.Link } 
            }]" 
            [ngClass]="rla.isActive ? item.ActiveIcon : item.Icon"
            [routerLinkActive]="['active']"
            [pTooltip]="item.Tooltip">
        </i>
    }
</nav>
