<img src="favicon.ico" width="40px" height="40px" alt="logo">
<nav class="w-full flex gap-6 flex-column align-items-center">
  @for (navItem of navItems; track navItem.Link) {
    <i
      class="text-2xl navbar-icon"
      #rla="routerLinkActive"
      [routerLink]="['', {
              outlets: layoutService.isMobile
                  ? { primary: navItem.Link, content: null }
                  : { primary: navItem.Link }
          }]"
      [ngClass]="rla.isActive ? navItem.ActiveIcon : navItem.Icon"
      [routerLinkActive]="'active'"
      [pTooltip]="navItem.Tooltip"
      (keyup.enter)="navigateToRoute(navItem)"
    ></i>
  }
</nav>
