<img src="favicon.ico" width="40px" height="40px" alt="logo">
<nav class="w-full flex gap-6 flex-column align-items-center">
  @for (item of navItems; track item) {
    <i
      class="text-2xl navbar-icon"
      #rla="routerLinkActive"
      tabindex="-1"
      [routerLink]="['', {
              outlets: layoutService.isMobile
                  ? { primary: item.Link, content: null }
                  : { primary: item.Link }
          }]"
      [ngClass]="rla.isActive ? item.ActiveIcon : item.Icon"
      [routerLinkActive]="'active'"
      [pTooltip]="item.Tooltip"
    ></i>
  }
</nav>