.settings-wrapper {
  .accordion-wrapper ::ng-deep {
    //  Personal Info Part
    .p-accordion-tab {
      margin: 0;
      box-shadow: none;
    }

    .p-accordion-header-link {
      &:focus-visible {
        box-shadow: 4px 0 0 0 var(--theme-color);
      }
    }

    .p-accordion-header, .p-accordion-header-link, .p-accordion-content {
      background-color: var(--accent-bg);
      transition: background-color, box-shadow var(--animation-time);

      &:hover, &:active, &:focus, &:focus-visible {
        background-color: var(--accent-bg);
      }

      .p-accordion-toggle-icon-end {
        color: var(--text-normal);
      }
    }
  }

  .logout-wrapper {
    min-height: 40px;

    .logout-btn {
      min-height: 40px;
      cursor: pointer;
      outline: none;
      border: none;
      box-shadow: none;
      background-color: var(--theme-color);
      transition: background-color, box-shadow var(--animation-time);
      border-radius: 0 0 8px 8px;

      &:hover {
        background-color: var(--theme-color-tint);
      }

      &:focus, &:focus-visible {
        box-shadow: 0 6px 0 0 var(--theme-color-tint);
      }
    }
  }
}

// PrimeNg Styles End ----------------------------------------------------------------


//  Profile Pictures Part
.user-pictures-wrapper {
  min-height: 200px;
  background-color: var(--main-bg);

  .background-edit {
    border-radius: 999px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background-color: var(--secondary-bg);
    transition: var(--animation-time) background-color, color;
  }

  ::ng-deep .profile-background-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: middle;
  }

  .avatar-wrapper {
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;

    ::ng-deep .profile-avatar-image {
      width: 80px;
      height: 80px;
      object-fit: cover;
      background-color: var(--accent-bg);
      box-shadow: 0 0 0 4px var(--accent-bg);
      transition: var(--animation-time) box-shadow, background-color, color;
    }

    .avatar-camera {
      bottom: 0;
      right: 0;
      cursor: pointer;
      background-color: var(--accent-bg);
      transition: var(--animation-time) box-shadow, background-color, color;
    }
  }
}

//  Personal Info Part
.user-info-wrapper {
  .action-icon {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--secondary-bg);
    transition: var(--animation-time) background-color, color;

    &.save-icon {
      background-color: var(--theme-color);
    }

    &.disabled-action-icon {
      background-color: var(--theme-color-bg);
      cursor: not-allowed;
    }
  }

  .info-items {
    .info-item {
      width: 180px;
      height: 60px;

      .info-label {
        height: 25px;
      }

      .info-item-value {
        height: 30px;
        line-height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .same-text-input {
      height: 30px;
      background-color: var(--accent-bg);
      box-shadow: 0 1px 0 0;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      transition: var(--animation-time) box-shadow;

      &:focus {
        background-color: var(--accent-bg);
      }

      &.ng-invalid.ng-touched {
        box-shadow: 0 1px 0 0 var(--invalid);
      }
    }

    .info-item-value {
      padding-bottom: 5px;
    }
  }
}

//   Appearance Part
.appearance-items {
  .appearance-item {
    .active-theme-color {
      box-shadow: 0 0 0 4px var(--text-normal);
    }

    .colors-wrapper {
      .color {
        width: 25px;
        height: 25px;
        transition: var(--animation-time) box-shadow;
        cursor: pointer;

        &:focus {
          opacity: 0;
        }
      }
    }

    .color-picker-wrapper {
      .icon-overlay {
        width: 25px;
        height: 25px;
        z-index: 2;
        background-color: rgba(black, 0.25);
        pointer-events: none;
        transition: var(--animation-time) box-shadow;
      }
    }
  }
}

@media (max-width: 768px) {
  .settings-wrapper {
    max-height: calc(100dvh - 248px - 70px);
    overflow: auto;

    .logout-wrapper .logout-btn {
      border-radius: 0;
    }
  }
}
