<div class="register-wrapper w-full h-full flex flex-column gap-3 md:gap-4 justify-content-center align-items-center">
  <h3 class="m-0 txt-heading text-xl md:text-3xl">
    Sign up
  </h3>

  <div class="form-content px-0 md:px-6">
    <form [formGroup]="registerForm"
          (ngSubmit)="register()"
          class="w-full h-full flex flex-column gap-4 align-items-center justify-content-center">

      <span class="w-full p-float-label text-sm md:text-base">
        <input formControlName="FullName"
               class="text-sm md:text-base"
               id="FullName"
               aria-describedby="FullName-help"
               type="text"
               pInputText/>
        <label for="FullName">Full Name</label>
      </span>

      <div class="w-full">
        <p-selectButton [options]="genders"
                        [unselectable]="true"
                        formControlName="Gender"/>
      </div>

      <span class="w-full p-float-label text-sm md:text-base">
        <input formControlName="Username"
               class="text-sm md:text-base"
               id="Username"
               aria-describedby="username-help"
               type="text"
               pInputText/>
        <label for="Username">Username</label>
      </span>

      <span class="w-full p-float-label text-sm md:text-base">
        <input formControlName="Email"
               class="text-sm md:text-base"
               id="Email"
               aria-describedby="email-help"
               type="text"
               pInputText/>
        <label for="Email">Email</label>
      </span>

      <span class="w-full p-float-label text-sm md:text-base">
        <p-password [toggleMask]="true"
                    [feedback]="false"
                    class="text-sm md:text-base"
                    inputId="Password"
                    formControlName="Password"/>
        <label for="Password">Password</label>
      </span>

      <span class="w-full p-float-label text-sm md:text-base">
        <p-password [toggleMask]="true"
                    [feedback]="false"
                    class="text-sm md:text-base"
                    inputId="ConfirmPassword"
                    formControlName="ConfirmPassword"
                    [ngClass]="{
                'custom-invalid': registerForm.hasError('passwordsMatch')
            }"/>
        <label for="ConfirmPassword">Confirm password</label>
      </span>

      @if (errorMessage) {
        <div class="w-full error-msg flex gap-2 justify-content-center align-items-center">
          <i class="ri-error-warning-line text-base"></i>
          <span class="text-sm md:text-base">{{ errorMessage }}</span>
        </div>
      }

      <button
        class="w-full primary-btn register-btn no-select flex gap-1 justify-content-center align-items-center no-select"
        type="submit"
        [disabled]="registerPending"
        pButton
        pRipple>
        <span class="txt-white text-sm md:text-base">
          Sign up
        </span>

        @if (registerPending) {
          <span class="anm-spinner flex justify-content-center align-items-center">
            <i class="ri-loader-4-fill txt-white text-xs"></i>
          </span>
        }
      </button>
    </form>
  </div>

  <div class="text-sm md:text-base">
    <span class="txt-color">Already have an account ? </span>
    <a class="link-default no-select"
       [routerLink]="['..', 'login']">Sign in</a>
  </div>
</div>
