<h3 class="m-0 color-text-heading">Sign up to continue.</h3>
<form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="flex flex-column w-full gap-4">

    <div
        [ngClass]="{
            'flex-column': layoutService.isMobile
        }"
        class="flex gap-4">
        <div class="flex flex-1 flex-column gap-1">
            <label for="FullName">Name</label>
            <input
                pInputText
                aria-describedby="FullName-help"
                id="FullName"
                formControlName="FullName"/>
        </div>
    </div>

    <div class="flex flex-column gap-1">
        <label for="Username">Gender</label>
        <p-selectButton
            [options]="genders"
            [unselectable]="true"
            formControlName="Gender">
        </p-selectButton>
    </div>

    <div class="flex flex-column gap-1">
        <label for="Username">Username</label>
        <input
            pInputText
            aria-describedby="username-help"
            id="Username"
            formControlName="Username"/>
    </div>

    <div class="flex flex-column gap-1">
        <label for="Email">Email</label>
        <input
            pInputText
            aria-describedby="email-help"
            id="Email"
            type="email"
            formControlName="Email"/>
    </div>

    <div class="flex flex-column gap-1">
        <label for="Password">Password</label>
        <p-password
            [toggleMask]="true"
            [feedback]="false"
            id="Password"
            formControlName="Password"/>
    </div>

    <div class="flex flex-column gap-1">
        <label for="ConfirmPassword">ConfirmPassword</label>
        <p-password
            [toggleMask]="true"
            [feedback]="false"
            id="ConfirmPassword"
            formControlName="ConfirmPassword"
            [ngClass]="{
                'custom-invalid': registerForm.hasError('passwordsMatch')
            }"/>
    </div>

    <button
        pButton
        pRipple
        label="Register"
        class="shadow">
    </button>
</form>
<div>
    <span class="color-text-normal">Already have an account? </span>
    <a [routerLink]="['..', 'login']">Login</a>
</div>
