<footer class="w-full chat-footer-wrapper flex justify-content-between align-items-center">
  <textarea #messageTextArea
            class="h-full message-text-area text-base txt-white"
            placeholder="Send a message..."
            spellcheck="false"
            pInputTextarea
            tabindex="0"
            [formControl]="MessageText"
    ></textarea>

  <button class="send-button no-select flex justify-content-center align-items-center"
          (click)="sendMessage()">
    <i class="w-full h-full ri-arrow-right-line txt-white flex justify-content-center align-items-center"
       pRipple
       tabindex="1"></i>
  </button>
</footer>
