//  Main Dark Colors
$text-0: #e2e9f3;
$text-10: #e5ebf4;
$text-20: #e8edf5;
$text-30: #ebf0f7;
$text-40: #eef2f8;
$text-50: #f1f4f9;

$background-0: #090d15;
$background-10: #22252c;
$background-20: #3a3d44;
$background-30: #53565b;
$background-40: #6b6e73;
$background-50: #84868a;

$primary-0: #a6bbd8;
$primary-10: #afc2dc;
$primary-20: #b8c9e0;
$primary-30: #c1cfe4;
$primary-40: #cad6e8;
$primary-50: #d3ddec;

$secondary-0: #573579;
$secondary-10: #684986;
$secondary-20: #795d94;
$secondary-30: #8972a1;
$secondary-40: #9a86af;
$secondary-50: #ab9abc;

$accent-0: #ae6abe;
$accent-10: #b679c5;
$accent-20: #be88cb;
$accent-30: #c697d2;
$accent-40: #cea6d8;
$accent-50: #d7b5df;


//  Effect Colors
$boxShadow: #1f3a2b;
