//  Main Light Colors
$text-0: #0c131d;
$text-10: #0b111a;
$text-20: #0a0f17;
$text-30: #080d14;
$text-40: #070b11;
$text-50: #060a0f;

$background-0: #eaeef6;
$background-10: #d3d6dd;
$background-20: #bbbec5;
$background-30: #a4a7ac;
$background-40: #8c8f94;
$background-50: #75777b;

$primary-0: #273c59;
$primary-10: #233650;
$primary-20: #1f3047;
$primary-30: #1b2a3e;
$primary-40: #172435;
$primary-50: #141e2d;

$secondary-0: #a886ca;
$secondary-10: #9779b6;
$secondary-20: #866ba2;
$secondary-30: #765e8d;
$secondary-40: #655079;
$secondary-50: #544365;

$accent-0: #864195;
$accent-10: #793b86;
$accent-20: #6b3477;
$accent-30: #5e2e68;
$accent-40: #502759;
$accent-50: #43214b;

//  Effect Colors
$boxShadow: #131e1a;
