$main-bg: #2E2E2E;
$invalid: #D13434;

:root {
  --text-normal: #{$text-normal};
  --text-heading: #{$text-heading};
  --main-bg: #{$main-bg};
  --secondary-bg: #{$secondary-bg};
  --accent-bg: #{$accent-bg};
}

.navbar-icon {
  transition: 0.2s color;
  color: #878A91;
}

.txt-white {
  transition: 0.2s color;
  color: #FFFFFF;
}

.txt-color {
  transition: 0.2s color;
  color: $text-normal;
}

.txt-heading {
  transition: 0.2s color;
  color: $text-heading;
}
