.accordion-wrapper {
  //  Personal Info Part
  .p-accordion-content {
    background-color: $accent-bg;
  }

  .p-accordion-header, .p-accordion-header-link {
    background-color: $accent-bg;

    &:hover, &:active, &:focus, &:focus-visible {
      background-color: $accent-bg;
    }

    .p-accordion-toggle-icon-end {
      color: $text-normal;
    }
  }
}

// PrimeNg Styles End ----------------------------------------------------------------


//  Profile Pictures Part
.user-pictures-wrapper {
  .background-edit {
    background-color: $secondary-bg;
  }

  .avatar-wrapper {
    .profile-avatar-image {
      background-color: $accent-bg;
      box-shadow: 0 0 0 4px $accent-bg;
    }

    .avatar-camera {
      background-color: $accent-bg;
    }
  }
}

//  Personal Info Part
.user-info-wrapper {
  .action-icon {
    background-color: $secondary-bg;

    &.save-icon {
      background-color: var(--theme-color);
    }
  }

  .info-items {
    .same-text-input {
      background-color: $accent-bg;

      &:focus {
        background-color: $accent-bg;
      }

      &.ng-invalid.ng-touched {
        box-shadow: 0 1px 0 0 $invalid;
      }
    }
  }
}

//   Appearance Part
.appearance-items {
  .appearance-item {
    .colors-wrapper, .color-picker-wrapper {
      .active-theme-color {
        box-shadow: 0 0 0 4px $text-normal;
      }
    }
  }
}
