<div class="w-full flex flex-column gap-3">
  <div class="search-wrapper">
    <input type="text"
           class="w-full h-full search-input text-base txt-white"
           placeholder="Search"
           pInputText
           (keyup)="onSearch($event)"/>
  </div>

  <div class="chats-wrapper w-full h-full">
      @for (chat of chats; track chat) {
        <app-chat-preview [ChatId]="chat.Id"
                          [ChatName]="chat.Name"
                          [ChatImageName]="chat.ImageName"
                          [ChatLastMessage]="chat.LastMessage"
                          [ChatLastMessageTime]="chat.LastMessageTime"
        />
      }
  </div>
</div>
