.avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.search-wrapper {
  padding: 10px 30px;
  height: 60px;

  .search-input {
    border-radius: 25px;
    border: none;
    background-color: var(--main-bg);
    transition: 0.2s box-shadow, color;

    &:hover {
      border: none;
    }

    &:focus, &:focus-visible {
      box-shadow: 0 0 0 2px var(--theme-color);
    }
  }
}
