<div class="image-select-wrapper flex flex-column gap-5 justify-content-center">
    <div class="image-selector-wrapper relative">
      @if (pending) {
        <div class="image-selector-loader anm-spinner absolute z-5">
          <i class="ri-loader-4-fill"></i>
        </div>
      }
      <image-cropper
        class="image-select"
        [imageFile]="ImageFile"
        [maintainAspectRatio]="true"
        [aspectRatio]="config.data.AspectRatio"
        [cropperMaxWidth]="1500"
        [cropperMaxHeight]="1500"

        (loadstart)="onLoadStart()"
        (imageLoaded)="imageLoaded()"
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"
      />
    </div>

  <div class="p-dialog-footer">
    <button type="button"
            class="w-full primary-btn no-select flex gap-1 justify-content-center align-items-center no-select"
            pButton
            pRipple
            (click)="cancel()">
      <span class="txt-white text-sm md:text-base">Cancel</span>
      <span class="btn-icon-wrapper flex justify-content-center align-items-center">
          <i class="ri-close-fill txt-white text-base"></i>
        </span>
    </button>

    <button type="button"
            class="w-full primary-btn no-select flex gap-1 justify-content-center align-items-center no-select"
            pButton
            pRipple
            (click)="save()">
      <span class="txt-white text-sm md:text-base">Save</span>
      <span class="btn-icon-wrapper flex justify-content-center align-items-center">
          <i class="ri-check-fill txt-white text-base"></i>
        </span>
    </button>
  </div>
</div>
