.chat-body {
  width: 100%;
  max-height: calc(100dvh - 150px);
  padding: 15px 20px;
  transition: var(--animation-time) background-color;
  background-color: var(--theme-color-bg);
  overflow-x: hidden;
  overflow-y: auto;

  .group-wrapper {
    .sticky-date {
      position: sticky;
      top: 0;
    }

    .messages-date {
      width: max-content;
      height: 28px;
      padding: 6px;
      margin: 0 auto;
      border-radius: 8px;
      background-color: var(--secondary-bg);
      transition: var(--animation-time) background-color, color;
    }

    .avatar-wrapper {
      width: 36px;
      height: 36px;
      border-radius: 50%;

      ::ng-deep .user-avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }

      &.align-right {
        margin-left: auto;
      }
    }

    .message-wrapper {
      .message {
        display: block;
        width: max-content;
        max-width: 400px;
        padding: 10px;
        margin: 0.5rem 0;
        text-wrap: balance;
        white-space: pre-line;
        background-color: var(--accent-bg);
        transition: var(--animation-time) background-color, color;
        border-radius: 16px 16px 16px 0;

        &.user-sent-message {
          margin-left: auto;
          border-radius: 16px 16px 0 16px;
          background-color: var(--theme-color);

          .message-arrow {
            background-color: var(--theme-color);
          }
        }

        &.align-right {
          align-self: flex-end;
          border-radius: 16px 16px 0 16px;
        }

        .text {
          word-break: break-word;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .chat-body {
    max-height: calc(100dvh - 80px - 70px);

    .group-wrapper {
      .message {
        max-width: 300px !important;

        &.user-sent-message {
          align-self: flex-end;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .chat-body {
    max-height: calc(100dvh - 60px - 70px);
    padding: 15px 10px !important;

    .group-wrapper {
      .avatar-wrapper {
        width: 30px;
        height: 30px;

        ::ng-deep .user-avatar {
          width: 30px;
          height: 30px;
        }
      }

      .message-wrapper {
        .message {
          min-width: 75px !important;
          max-width: 225px !important;
        }
      }
    }
  }
}
