.chat-body {
  width: 100%;
  max-height: calc(100dvh - 170px);
  padding: 15px 20px;
  transition: 0.2s background-color;
  background-color: var(--theme-color-bg);
  overflow-x: hidden;
  overflow-y: auto;

  .message {
    display: block;
    width: max-content;
    max-width: 400px;
    text-wrap: balance;
    white-space: pre-wrap;
    background-color: var(--accent-bg);
    transition: 0.2s background-color, color;
    padding: 10px;
    border-radius: 10px;

    .date {
      text-align: right;
    }

    .message-arrow {
      width: 10px;
      height: 15px;
      background-color: var(--accent-bg);
      transition: 0.2s background-color;
      bottom: -5px;
      left: 10px;
      border-radius: 0 0 6px 2px;
    }

    &.user-sent-message {
      background-color: var(--theme-color);

      .date {
        text-align: left;
      }

      .message-arrow {
        background-color: var(--theme-color);
      }
    }
  }
}

@media (max-width: 1200px) {
  .chat-body {
    .message {
      max-width: 250px !important;

      &.user-sent-message {
        align-self: flex-end;

        .message-arrow {
          left: initial !important;
          right: 10px !important;
          border-radius: 0 0 2px 6px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .chat-body {
    padding: 15px 10px !important;

    .message {
      min-width: 75px !important;
      max-width: 225px !important;
    }
  }
}
