:host {
  display: block;
  height: 100dvh;
}

.chat-wrapper {
  app-chat-header {
    flex: 0 0 auto;
  }

  app-chat-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  app-chat-footer {
    flex: 0 0 auto;
  }
}

.to-bottom-arrow {
  width: 50px;
  height: 50px;
  right: 70px;
  bottom: 100px;
  border-radius: 10px;
  background-color: var(--theme-color-tint);
  transition: var(--animation-time) background-color;
  cursor: pointer;
}

@media (max-width: 768px) {
  .to-bottom-arrow {
    right: 50px;
    bottom: 90px;
  }
}
